body {
     margin: 0;
     font-family: Arial, sans-serif;
     background-color: #f0f8ff;
 }
h1 {
     background-color: #333;
     color: white;
     text-align: center;
     padding: 15px;
 }
.house {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 10px;
     padding: 20px;
 }
.item {
     background-color: white;
     border: 2px solid black;
     text-align: center;
     padding: 20px;
     font-size: 18px;
 }
footer {
     background-color: rgb(6, 0, 0);
     color: rgb(247, 245, 245);
     text-align: center;
     padding: 15px;
     margin-top: 20px;
 }
